DISCORD_BOT_TOKEN=<BOT TOKEN>
DISCORD_TEXTCHANNEL_ID=<Text Channel>
DISCORD_VOICECHANNEL_ID=<Voice Channel>
COEFONT_AUTHENTICATION=<Coefont Authentication>
COEFONT_SECRET=<Coefont Secret>
TWITTER_CONSUMER_KEY=<Twitter Consumer Key>
TWITTER_CONSUMER_SECRET=<Twitter Consumer Secret>
RAILS_DB_USERNAME=root
RAILS_DB_PASSWORD=pwd
RAILS_DB_HOST=db
RAILS_ENV=development
